Package: vyatta-op-monitor-interfaces-vrrp-v1-yang
Source: vyatta-vrrp
Version: 3.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 24
Depends: vyatta-opd-extensions-v1-yang, vyatta-op-monitor-v1-yang, vyatta-op-monitor-interfaces-v1-yang
Section: contrib/net
Priority: optional
Description: vyatta-op-monitor-interface-vrrp-v1 module
 Monitor interface commands for VRRP interfaces
