Package: vyatta-vrrp-state-interfaces-dataplane-v1-yang
Source: vyatta-vrrp
Version: 3.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 19
Depends: vyatta-vrrp-state-v1-yang, vyatta-interfaces-v1-yang, vyatta-interfaces-dataplane-v1-yang, vyatta-vrrp-v1-yang
Section: contrib/admin
Priority: optional
Description: vyatta-vrrp-state-interfaces-dataplane-v1 yang module
 The YANG module that augments dataplane interfaces with state nodes.
