Package: vyatta-op-mode-vrrp-v1-yang
Source: vyatta-vrrp
Version: 3.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 14
Depends: vyatta-op-monitor-interfaces-vrrp-v1-yang, vyatta-op-monitor-vrrp-v1-yang, vyatta-op-reset-vrrp-v1-yang, vyatta-op-restart-vrrp-v1-yang, vyatta-op-show-vrrp-v1-yang, vyatta-op-update-vrrp-v1-yang, vyatta-vrrp-vci (>= 3.8)
Breaks: vyatta-vrrp-dataplane (<< 3.1)
Replaces: vyatta-vrrp-dataplane (<< 3.1)
Section: contrib/net
Priority: optional
Description: Dummy module to install VRRP op mode YANG commands
 Operational mode YANG for viewing and modifying VRRP state
