Package: vyatta-op-show-interfaces-vrrp-v1-yang
Source: vyatta-vrrp
Version: 3.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 20
Depends: vyatta-interfaces-base, vyatta-opd-extensions-v1-yang, vyatta-op-show-v1-yang, vyatta-op-show-interfaces-v1-yang
Section: contrib/net
Priority: optional
Description: vyatta-op-show-interfaces-vrrp-v1 module
 Operational mode integration for viewing VRRP interface configuration
