/tmp/
/.debhelper/
/files
/*.substvars
/*.debhelper.log
/debhelper-build-stamp
/autoreconf.*
/vyatta-vrrp/
/vyatta-op-show-interfaces-vrrp-v1-yang/
/vyatta-op-mode-vrrp-v1-yang/
/vyatta-op-show-vrrp-v1-yang/
/vyatta-op-reset-vrrp-v1-yang/
/vyatta-op-restart-vrrp-v1-yang/
/vyatta-op-update-vrrp-v1-yang/
/vyatta-op-monitor-vrrp-v1-yang/
/vyatta-op-monitor-interfaces-vrrp-v1-yang/
/vyatta-vrrp-v1-yang/
/vyatta-vrrp-interfaces-switch-v1-yang/
/vyatta-vrrp-path-monitor-track-v1-yang/
/vyatta-vrrp-path-monitor-track-interfaces-dataplane-v1-yang/
/vyatta-vrrp-path-monitor-track-interfaces-bonding-v1-yang/
/vyatta-vrrp-path-monitor-track-interfaces-switch-v1-yang/
/vyatta-vrrp-route-to-track-v1-yang/
/vyatta-vrrp-route-to-track-interfaces-dataplane-v1-yang/
/vyatta-vrrp-route-to-track-interfaces-bonding-v1-yang/
/vyatta-vrrp-route-to-track-interfaces-switch-v1-yang/
/vyatta-vrrp-state-v1-yang/
/vyatta-vrrp-state-interfaces-dataplane-v1-yang/
/vyatta-vrrp-state-interfaces-bonding-v1-yang/
/vyatta-vrrp-state-interfaces-switch-v1-yang/
/vyatta-vrrp-vci/
