Package: vyatta-op-restart-vrrp-v1-yang
Source: vyatta-vrrp
Version: 3.8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 19
Depends: vyatta-opd-extensions-v1-yang, vyatta-op-restart-v1-yang
Section: contrib/net
Priority: optional
Description: vyatta-op-restart-vrrp-v1 module
 Restart commands for vyatta-vrrp
