Package: vyatta-vrrp-vci
Source: vyatta-vrrp
Version: 3.8
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 206
Depends: python3, python3-vci, python3-pydbus, python3:any (>= 3.6~), deb-vci-helper
Section: contrib/net
Priority: optional
Description: Vci Service for vyatta-vrrp config
 Service for vyatta vrrp using the Vyatta Component Infrastructure
